# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
output/*
.idea/
/RAG/openaikey.txt
*/__pycache__/*
__pycache__/*
.ipynb_checkpoints/*